<!DOCTYPE html>
<html xmlns: th="https://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    <link th:href="@{/index.css}" rel="stylesheet">
  <!--  <link rel="stylesheet" type="text/css" href="styles.css">-->
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <h1>Welcome to Learnwise</h1>
            <p>Learn with Learnwise</p>

            <div class="d-grid gap-2">
                <button class="btn btn-success" type="button">
                    <a href="/register">Register for Student/Trainer</a>
                </button>
                <button class="btn btn-success" type="button">
                    <a href="/login">Login/SignUp</a>
                </button>
            </div>
        </div>
    </div>
</body>

</html>
